@charset "UTF-8";
article {
  background-color: transparent;
  color: #fff;
}

.contents {
  width: 98%;
  max-width: 980px;
  margin: 90px auto 100px;
  color: #fff;
  font-size: 15px;
  line-height: 1.8em;
  word-wrap: break-word;
}

.more_btn, .btn__back {
  position: relative;
  height: auto;
  padding: 17px;
  background: transparent;
  border: 1px solid #919191;
  color: #919191;
  font-size: 15px;
  line-height: 1.2em;
  text-align: center;
  cursor: pointer;
  transition: opacity .6s cubic-bezier(.215, .61, .355, 1) 0s;

  -webkit-transition: opacity .6s cubic-bezier(.215, .61, .355, 1) 0s;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

.more_btn #more_load, .btn__back #more_load {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  margin-left: -15px;
  overflow: hidden;
}

.more_btn a, .btn__back a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.more_btn.layout-small, .btn__back.layout-small {
  width: 500px;
  margin: 0 auto;
}


.more_btn:hover, .btn__back:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: .6;
  transition: opacity .7s cubic-bezier(.215, .61, .355, 1) 0s;

  -webkit-transition: opacity .7s cubic-bezier(.215, .61, .355, 1) 0s;
}

.information #info_list .list-item .list-item__text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.information #info_list .list-item .list-item__text .list-item__title {
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.4em;
  font-family: "Roboto", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: .05em;
  text-align: justify;
}

.information #info_list .list-item .list-item__text .list-item__date {
  padding-bottom: 15px;
  color: #a3a3a3;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: .05em;
}

.information #info_list .list-item .list-item__text .list-item__article {
  overflow: hidden;
  color: #a3a3a3;
  font-size: 15px;
  line-height: 1.4em;
  letter-spacing: .05em;
  text-align: justify;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.information #info_list .list-item.is-thumb .list-item__text {
  display: inline-block;
  width: 77%;
  margin-left: 2%;
  vertical-align: top;
  letter-spacing: normal;
}

.fb_iframe_widget span {
  vertical-align: top !important;
}

.information #latest_info ul li .list-item__text {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.information #latest_info ul li .list-item__text .list-item__title {
  font-weight: bold;
  font-size: 15px;
  line-height: 1.4em;
  font-family: "Roboto", "游ゴシック", YuGothic, "Helvetica", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Helvetica Neue", Arial, sans-serif;
  letter-spacing: .05em;
  text-align: justify;
}

.information #latest_info ul li .list-item__text .list-item__date {
  color: #848587;
  font-size: 14px;
  line-height: 1.5em;
  letter-spacing: .05em;
}

.information #latest_info ul li .list-item__text .list-item__article {
  overflow: hidden;
  font-size: 14px;
  line-height: 1.4em;
  letter-spacing: .05em;
  text-align: justify;
  white-space: nowrap;

  text-overflow: ellipsis;
}

.category h4 {
  padding: 10px;
  background: #222;
  font-size: 15px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .contents {
    width: 94%;
    margin: 20px auto 40px;
    padding: 12px 0 11px;
    font-size: 14px;
    line-height: 1.6em;
  }
  .media .contents {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .more_btn, .btn__back {
    padding: 14px;
    font-size: 13px;
  }
  .more_btn.layout-small, .btn__back.layout-small {
    width: 100%;
    max-width: 500px;
  }
  }
  .information #info_list .list-item .list-item__text .list-item__title {
    font-size: 14px;
  }
  .information #info_list .list-item .list-item__text .list-item__date {
    font-size: 12px;
  }
  .information #info_list .list-item .list-item__text .list-item__article {
    font-size: 14px;
  }
  .information #info_list .list-item.is-thumb .list-item__text {
    width: 72%;
    margin-left: 2%;
  }
  .information #latest_info ul li .list-item__text {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .information #latest_info ul li .list-item__text .list-item__title {
    font-size: 14px;
  }
  .information #latest_info ul li .list-item__text .list-item__date {
    color: #848587;
    font-size: 13px;
    line-height: 1.5em;
    letter-spacing: .05em;
  }
  .information #latest_info ul li .list-item__text .list-item__article {
    font-size: 14px;
  }
  .category h4 {
    padding: 10px;
    background: #222;
    font-size: 15px;
    line-height: 1;
  }

.information #news_list .list-item {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  padding: 23px 0 23px;
  transition: opacity .7s cubic-bezier(.215, .61, .355, 1) 0s;

  border-bottom: 1px solid #3e3e3e;}

