@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Lato:900");
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  vertical-align: baseline;
  font-size: 100%;
  outline: 0;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  background: transparent;
  vertical-align: baseline;
  font-size: 100%;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  cursor: help;

  border-bottom: 1px dotted;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;

  border-top: 1px solid #ccc;
}

input, select {
  vertical-align: middle;
}

/*!
  Reset Stylesheet
  Author: yama-dev - https://github.com/yama-dev
  */
body, button, input, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  word-wrap: break-word;
}

.clearfix:after {
  content: ".";
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button, input, select, textarea {
  min-height: 1.5em;
  background-color: transparent;
}

input[type="submit"], input[type="reset"] {
  cursor: pointer;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}

a[href^="tel"] {
  display: inline-block;
  color: inherit;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: auto;
  background: #fff;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.6em;
  letter-spacing: .08em;
}

a {
  display: block;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  opacity: .6;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.wrapper {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  position: relative;
  overflow: hidden;
}

.l-header.ttl {
  position: relative;
}

.l-header.ttl .ttl__main {
  max-width: 820px;
  margin: 125px auto;
}

.l-header.ttl .ttl__main h1 {
  display: inline-block;
  width: 285px;
  height: auto;
  margin: 0 44px;
  vertical-align: middle;
}

.l-header.ttl .ttl__main .ttl__main-l, .l-header.ttl .ttl__main .ttl__main-r {
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  letter-spacing: .75em;
}

.l-section.lookbook {
  max-width: 1105px;
  margin: 0 auto;
}

.l-section.lookbook .lookbook__lineup {
  width: 1000px;
  margin: 0 auto;
}

.l-section.lookbook .lookbook__lineup li.lookbook__lineup-img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  max-width: 250px;
  height: auto;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-section.lookbook .lookbook__lineup li.lookbook__lineup-img img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  width: 95%;
  margin: 0 auto;
}

.l-section.lookbook .lookbook__lineup li.lookbook__lineup-img:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: .4;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-section.lookbook .lookbook__lineup.active li img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(1) img {
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(2) img {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(3) img {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(4) img {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(5) img {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(6) img {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(7) img {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(8) img {
  -webkit-transition-delay: .8s;
          transition-delay: .8s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(9) img {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(10) img {
  -webkit-transition-delay: 1.0s;
          transition-delay: 1.0s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(11) img {
  -webkit-transition-delay: 1.1s;
          transition-delay: 1.1s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(12) img {
  -webkit-transition-delay: 1.2s;
          transition-delay: 1.2s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(13) img {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(14) img {
  -webkit-transition-delay: 1.4s;
          transition-delay: 1.4s;
}

.l-section.lookbook .lookbook__lineup.active li:nth-child(15) img {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}

.l-section.link .link__type {
  margin: 115px auto 80px;
  font-size: 0;
  line-height: 0;
  letter-spacing: normal;
  text-align: center;
}

.l-section.link .link__type .link__type-official {
  display: inline-block;
  width: 260px;
  height: auto;
  margin-right: 90px;
  vertical-align: top;
}

.l-section.link .link__type .link__type-goods {
  display: inline-block;
  width: 260px;
  height: auto;
  vertical-align: top;
}

.l-footer.foot {
  position: relative;
  padding: 80px 0 150px;
  background: #f4f4f4;
}

.l-footer.foot .pagetop {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  position: absolute;
  top: 60px;
  right: 40px;
  width: 50px;
  height: auto;
  cursor: pointer;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-footer.foot .pagetop:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  opacity: .4;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.l-footer.foot .copy small {
  display: block;
  font-weight: 900;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
  letter-spacing: .5em;
  text-align: center;
}

.swiper-container {
  position: relative;
  /* Fix of Webkit flickering */
  z-index: 1;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;

  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
}

.swiper-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;

  -webkit-box-sizing: content-box;
  -webkit-transition-property: -webkit-transform;
}

.swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 0;

  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
  opacity: .35;
  cursor: auto;

  filter: alpha(opacity=35);
  pointer-events: none;
}

.swiper-container-autoheight {
  height: auto;
}

.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;

  -webkit-align-items: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-transition-property: -webkit-transform, height;
}

.modalBg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, .7);
}

.modal {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  left: 0;
  z-index: 100;
  margin: auto;
}

.modal .modal_content {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.modal .modal_content .modal_inner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border: solid 20px #000;
}

.modal .modal_content .modal_inner ul li {
  position: relative;
  line-height: 0;
}

.modal .modal_content .modal_inner .detail_img {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.modal .modal_content .modal_inner .detail_img img {
  vertical-align: bottom;
}

.modal .modal_content .pagerBtn {
  margin-top: 45px;
  letter-spacing: -.4em;
  text-align: center;
}

.modal .modal_content .pagerBtn .btn_arrow {
  display: inline-block;
  margin: 0 30px;
  vertical-align: top;
  letter-spacing: normal;
}

.modal .modal_content .pagerBtn .btn_prev {
  width: 90px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal .modal_content .pagerBtn .btn_prev:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
}

.modal .modal_content .pagerBtn .btn_next {
  width: 90px;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.modal .modal_content .pagerBtn .btn_next:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
}

.modal .modal_content .btn_close {
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: 1;
  width: 90px;
  cursor: pointer;
  transition: all .3s;

  -webkit-transition: all .3s;
}

.modal .modal_content .btn_close:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  opacity: .7;
  transition: all .3s;

  filter: alpha(opacity=70);
  -webkit-transition: all .3s;
}

@media screen and (max-width: 1020px) {
  .l-section.lookbook {
    margin: 0 auto;
  }
  .l-section.lookbook .lookbook__lineup {
    width: 755px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 840px) {
  .l-header.ttl .ttl__main {
    position: relative;
    max-width: 87%;
    margin: 80px auto;
    padding-top: 76%;
  }
  .l-header.ttl .ttl__main h1 {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 60%;
    height: auto;
    margin: 0 auto;
    vertical-align: top;
  }
  .l-header.ttl .ttl__main .ttl__main-l, .l-header.ttl .ttl__main .ttl__main-r {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: "Lato", sans-serif;
    letter-spacing: .5em;
  }
  .l-header.ttl .ttl__main .ttl__main-l {
    bottom: 0;
    left: 0;
  }
  .l-header.ttl .ttl__main .ttl__main-r {
    right: 0;
    bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  article {
    width: 100%;
  }
  .l-section.lookbook {
    max-width: 95%;
    margin: 0 auto;
  }
  .l-section.lookbook .lookbook__lineup {
    width: 100%;
    margin: 0 auto;
  }
  .l-section.lookbook .lookbook__lineup li.lookbook__lineup-img {
    max-width: 50%;
    height: auto;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .l-section.lookbook .lookbook__lineup li.lookbook__lineup-img img {
    width: 95%;
    margin: 0 auto;
  }
  .l-section.link .link__type {
    margin: 115px auto 80px;
    font-size: 0;
    line-height: 0;
    letter-spacing: normal;
    text-align: center;
  }
  .l-section.link .link__type .link__type-official {
    display: block;
    width: 56%;
    height: auto;
    margin: 0 auto 40px;
  }
  .l-section.link .link__type .link__type-goods {
    display: block;
    width: 56%;
    height: auto;
    margin: 0 auto 80px;
  }
  .l-footer.foot {
    padding: 40px 0 125px;
  }
  .l-footer.foot .pagetop {
    position: static;
    width: 60px;
    height: auto;
    margin: 0 auto 30px;
  }
  .l-footer.foot .copy small {
    display: block;
    font-weight: 900;
    font-size: .95rem;
    font-family: "Lato", sans-serif;
    letter-spacing: .5em;
    text-align: center;
  }
  .is-pc {
    display: none;
  }
  .is-sp {
    display: block;
  }
  .is-pc-inline {
    display: none;
  }
  .is-sp-inline {
    display: inline-block;
  }
  .modal {
    margin: auto;
  }
  .modal .modal_content {
    width: 92%;
  }
  .modal .modal_content .modal_inner {
    background: #000;
    border: solid 7px #000;
  }
  .modal .modal_content .modal_inner .detail_img {
    width: 100%;
  }
  .modal .modal_content .pagerBtn {
    margin-top: 15px;
  }
  .modal .modal_content .pagerBtn .btn_arrow {
    margin: 0 15px;
  }
  .modal .modal_content .pagerBtn .btn_prev {
    width: 50px;
  }
  .modal .modal_content .pagerBtn .btn_prev:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
  .modal .modal_content .pagerBtn .btn_next {
    width: 50px;
  }
  .modal .modal_content .pagerBtn .btn_next:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
  .modal .modal_content .btn_close {
    position: absolute;
    top: -20px;
    right: -10px;
    width: 50px;
  }
  .modal .modal_content .btn_close:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .is-pc {
    display: block;
  }
  .is-sp {
    display: none;
  }
  .is-pc-inline {
    display: inline-block;
  }
  .is-sp-inline {
    display: none;
  }
}
